# Code to generate policy-results-se.parquet

***Excluding NB**, due to some errors e.g. policy 581 (check interact notebook)**

*with an optional visual of the generated data*

In [ ]:
%pip install openpyxl

In [ ]:
import pandas
from BasicTerm_SE_nomx import BasicTerm_SE

In [ ]:
%pip install ipywidgets

In [ ]:
%pip install altair

In [ ]:
import numpy as np

## filtering NB:

(I should probably just use model_point_table)

In [ ]:
dur0s = [(p, BasicTerm_SE.Projection[p].duration_mth(0), BasicTerm_SE.Projection[p].model_point().policy_count) for p in range(1,10000)]

In [ ]:
filtered = map(lambda d: d[0], filter(lambda d: d[1]>0 and d[2]>0, dur0s))

In [ ]:
policy_results = pandas.DataFrame([ ( p, BasicTerm_SE.Projection[p].duration_mth(0), BasicTerm_SE.Projection[p].age_at_entry(), BasicTerm_SE.Projection[p].sex(), BasicTerm_SE.Projection[p].policy_term(), BasicTerm_SE.Projection[p].sum_assured(), BasicTerm_SE.Projection[p].pv_net_cf(), BasicTerm_SE.Projection[p].pv_premiums(), BasicTerm_SE.Projection[p].pv_claims(),BasicTerm_SE.Projection[p].pv_commissions(),BasicTerm_SE.Projection[p].pv_expenses(),BasicTerm_SE.Projection[p].model_point().policy_count) for p in filtered ], columns=['p','duration_mth','age_at_entry','sex','policy_term','sum_assured','pv_net_cf', 'pv_premiums', 'pv_claims', 'pv_commissions', 'pv_expenses', 'policy_count'])

In [22]:
policy_results

,p,duration_mth,age_at_entry,sex,policy_term,sum_assured,pv_net_cf,pv_premiums,pv_claims,pv_commissions,pv_expenses,policy_count
0,1,1,47,M,10,622000,108625.005624,7.083922e+05,474813.509031,85875.091718,39078.592956,86
1,2,210,29,M,20,752000,-18339.113005,9.951015e+04,109613.960713,0.000000,8235.303341,56
2,3,15,51,F,10,799000,265915.612121,1.104633e+06,802454.869486,0.000000,36262.959961,83
3,4,125,32,F,20,422000,-18390.488283,2.839138e+05,264725.747619,0.000000,37578.497553,72
4,5,55,28,M,15,605000,31967.360377,4.399152e+05,352236.449328,0.000000,55711.419429,99
...,...,...,...,...,...,...,...,...,...,...,...,...
8181,9995,183,24,M,20,95000,-9693.309330,1.207702e+04,11933.672074,0.000000,9836.656897,36
8182,9996,157,47,M,20,827000,-58097.748784,3.574267e+05,405876.507890,0.000000,9647.985678,25
8183,9997,168,30,M,15,826000,-5569.052690,5.917471e+04,59908.524650,0.000000,4835.237202,81
8184,9998,146,45,F,20,783000,-14810.533240,1.314739e+05,141954.009477,0.000000,4330.394358,10
8185,9999,11,39,M,20,302000,9185.905181,5.615809e+04,39216.081715,372.420000,7383.680959,9

In [ ]:
%pip install altair

# Write to a Parquet file:

In [ ]:
policy_results.to_parquet('policy-results-SE-noNB.parquet')

# Optional Visual:

In [ ]:
import altair as alt

alt.data_transformers.disable_max_rows()

alt.Chart(policy_results).properties(width=480, height=200, title='BasicTerm_SE Profitability by Policy').mark_point().encode(
            x='sum_assured:Q',
            y='pv_net_cf:Q',
            #color='age_at_entry:Q',
            #color=alt.Color('age_at_entry:Q').scale(scheme='spectral'),
            color=alt.Color('duration_mth:Q').scale(scheme='spectral', reverse=False),
            shape='sex:N',
            row='policy_term:N',
            order='p'
          )